<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YetAnotherRelogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YetAnotherRelogger.Properties.Settings>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseD3Starter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D3StarterPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAutoPos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceAutoPos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPosDiabloCascade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPosDemonbuddyCascade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPosDiabloStartX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPosDiabloStartY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPosDiabloW" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="AutoPosDiabloH" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AutoPosDemonbuddyStartX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPosDemonbuddyStartY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPosDemonbuddyW" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="AutoPosDemonbuddyH" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AutoPosDemonbuddyPos" serializeAs="String">
                <value>right</value>
            </setting>
            <setting name="AutoPosForceWorkingArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPosForceWorkingAreaX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPosForceWorkingAreaY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPosForceWorkingAreaW" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="AutoPosForceWorkingAreaH" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ISBoxerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionCheckPing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionCheckPingHost1" serializeAs="String">
                <value>www.google.com</value>
            </setting>
            <setting name="ConnectionCheckPingHost2" serializeAs="String">
                <value>www.pingtest.com</value>
            </setting>
            <setting name="ConnectionCheckCloseBots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FocusCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionCheckIpHost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionCheckIpHostCloseBots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionCheckIpCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionCheckHostCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionCheckIpHostList" serializeAs="String">
                <value />
            </setting>
            <setting name="DemonbuddyStartDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoPosDiabloNoFrame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoldTimer" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="UseGoldTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartDelay" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinimizeOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
            <setting name="DiabloStartTimeLimit" serializeAs="String">
                <value>60</value>
            </setting>
        </YetAnotherRelogger.Properties.Settings>
    </userSettings>
</configuration>